.conditionList {
    background-color: white;
    padding: 1%;
}

.conditionList > button {
    border: none;
    border-radius: 5px;
    background-color: gray;
}

.conditionList > div {
    margin-top: 1%;
    word-break: break-word;
}

.conditionList > div > span {
    margin: 1%;
}