.header {
    height: 5vh;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.header > .logo {
    height: 100%;
    width: 15%;
    text-align: center;
}

.header > .logo > img {
    height: 100%;
}

.header > .info {
    height: 100%;
    width: 85%;
}