table, th, td {
    border: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    text-align: center;
}

td {
    overflow:hidden;
    white-space : nowrap;
    text-overflow: ellipsis;
}