.postList {
    background-color: white;
}

.table {
    height: 30vh;
    overflow-y: scroll;
    padding-top: 2%;
}

.postList > div {
    padding: 1%;
}

th, td {
    border: 1px solid;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.7rem;
}

th {
    text-align: center;
}

td {
    overflow: hidden;
    white-space : nowrap;
    text-overflow: ellipsis;
}