.filter {
    padding: 0 20% 4vh 20%;
    height: 100%;
}

.filter > .conditions {
    height: 90%;
    overflow-y: scroll;
}

.filter > .conditions > button {
    box-shadow: 0 0 1px gray;
    border: none;
    border-radius: 10px;
    margin: 0 0.5% 0 0.5%;
    font-size: 0.5rem;
}

.check {
    background-color: gray;
    color: white;
}

.uncheck {
    background-color: white;
    color: gray;
}

.filter > .buttons {
    height: 10%;
}

.buttons {
    text-align: right;
}

.buttons > button {
    background-color: gray;
    color: white;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    width: 10vh;
    margin: 0 1% 0 1%;
}

h5 {
    margin: 5% 0 2% 0;
}