.filter {
    padding: 5vh;
    height: 100%;
}

.filter > div > .condition {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 1% 0 1%;
}

.filter > .check {
    background-color: yellow;
}

.filter > .uncheck {
    background-color: gray;
}