.filter {
    padding: 5vh;
    height: 100%;
}

.filter > div > .check {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 1% 0 1%;
    background-color: yellow;
}

.filter > div > .uncheck {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 1% 0 1%;
    background-color: gray;
}