.menuPopup {
    margin-top: 7vh;
    z-index: 2;
    border-radius: 10px;
    background-color: white;
    height: 60vh;
}

.menuPopup > .check {
    background-color: yellow;
}

.menuPopup > .uncheck {
    background-color: gray;
}