.post {
    height: 95%;
    padding-top: 10vh;
    color: gray;
}

.post > div {
    border-radius: 10px;
    margin: 0 2vh 0 2vh;
    position: relative;
    height: 90%;
    aspect-ratio: 10/16;
}

.post > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*empty*/
.post > .empty {

}

/*imgBox*/

.post > .imgBox {
    overflow: hidden;
}

.post > .imgBox > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post > .explanation {
    white-space: normal;
}

.post > .explanation > div {
    text-align: left;
    padding: 3vh;
}

.post > .explanation > div > pre {
    white-space: pre-wrap;
    font-size: 0.7rem;
}

.post > .expiration {
    white-space: normal;
}

.post > .expiration > div {
    text-align: left;
    padding: 3vh;
}

.post > .expiration > div > .day {
    height: 40%;
}

.post > .expiration > div > .time {
    height: 30%;
}

.post > .condition {
    white-space: normal;
}

.post > .condition > div {
    text-align: left;
    padding: 3vh;
}

.post > .condition > div > div > .tag {
    display: inline-block;
    font-size: 0.8rem;
    box-shadow: 0 0 1px gray;
    border: none;
    border-radius: 10px;
    margin: 2%;
    padding: 0 2% 0 2%;
}

/*button*/

.post > .button {
    background-color: #87CEFA;
    color: white;
}

.post > .button > div {
    text-align: center;
    margin-top: 23vh;
}

.post > .button > div > div > button {
    border: none;
    border-radius: 10px;
    height: 4vh;
    background-color: white;
    color: #87CEFA;
}