.react-horizontal-scrolling-menu--wrapper {
    height: 100%;
}

.react-horizontal-scrolling-menu--inner-wrapper {
    height: 100%;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
    height: 100%;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 100%;
    display: flex;
    align-items: center;
}

.react-horizontal-scrolling-menu--item {
    height: 80%;
    display: flex;
    align-items: center;
}