.scrollBar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollBar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.scrollMenu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
}

.scrollMenu > .item {
    display: inline-block;
}