.simplePost {
    height: 70%;
    aspect-ratio: 10/16;
    border-radius: 10px;
    padding: 0;
    margin: 11vh 50px 0 50px;
}

.simplePost > div {
    height: 50%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.simplePost > .title {
    height: 12%;
    font-size: 0.7rem;
    padding: 2% 4% 2% 4%;
    word-break: break-all;
    white-space: normal;
}

.simplePost > .content {
    height: 25%;
}

.simplePost > .content > div {
    width: 50%;
}

.simplePost > .tag {
    height: 13%;
    padding: 2%;
    text-align: center;
}