.tagFormat {
    border-radius: 5px;
    background-color: gray;
    color: white;
    display: inline-block;
    font-size: 0.5rem;
    margin: 0 2px 0 2px;
    padding: 0 5px 0 5px;
    font-weight: bold;
}