.day {
    height: 45%;
    text-align: center;
}

.day > p {
    height: 100%;
    font-size: 30px;
    padding-top: 10vh;
}

.time {
    height: 45%;
    text-align: center;
}

.time > p {
    height: 100%;
    font-size: 30px;
}