.day {
    height: 100%;
    width: 100%;
}

.day > div {
    height: 100%;
    width: 100%;
    margin-top: 50%;
    text-align: center;
    transform: translate(0, -50%);
}

.day > p {
    font-weight: bold;
    font-size: smaller;
    color: gray;
}

.time {
    text-align: center;
    height: 100%;
    width: 100%;
}