.day {
    padding: 2%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.day > div {
    margin-top: 10%;
}

.day > p {
    font-weight: bold;
    font-size: smaller;
    color: gray;
}

.time {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}