img {
    max-width: 60%;
    height: auto;
}

.header {
    height: 50px;
}
.header > div {
    width: 33%;
    height: 50px;
    float: left;
    text-align: center;
}

.button {
    height: 50%;
    width: auto;
}
